<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
      name="description"
      content="Web site created using VUE 3.0X DEV: MOONHUNTER CODE alias de victor code"/>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="./triangulo.css">
    <title>theme1</title>
</head>
<body>
    <div id="App0" class="container">
        <H1> {{titulo}} </H1>
<p :class="[fondo]">
    aquí abajo tendremos la lista
    que se almacena en localstorage
</p>
<div class="zonadelista">
    <input type="text"
    class="form-control my-3"
     v-model="nuevaTarea"
     v-on:keyup.enter="agregarTarea"
     />
    <button class="btn btn-primary"
    @click="agregarTarea">ADD</button>
    <ol>
        <div  role="alert"
        
        :class="['alert',item.estado ? 'alert-success' : 'alert-danger']"
         v-for="(item,index) of tareas">
    <div class="d-flex justify-content-between">
    <div>{{index}} - {{item.nombre}} - {{item.estado}}</div>
    <div>
        <button class="btn btn-success bt-sm" 
        @click="editarTarea(index)">ok</button>
        <button class="btn btn-success bt-sm"
        @click="estado= item.estado=false, eliminar(index)">
            delete</button>
    </div>
    </div>
        </div>
    
    </ol>


<p>
    AQUÍ TEMINA LA APLICACION,
    LISTA DE TAREAS QUE
SE GUARDA EN LOCALSTORAGE
</p>
</div>
<!-- AQUÍ TEMINA LA TODO APP,LISTA QUE
SE GUARDA EN LOCALSTORAGE -->

  <hr>
  <br><br><br><br><br> 
  <div class="container">
      
      <hr>
      <h1>más prácticas</h1>
      <input type="text" class="form control m-3" v-model="fondo">

      <h6>{{message}} </h6>
      <ol>

      
      <li v-for="verdura of verduras">
          <input type="number" v-model.number="verdura.cantidad">
           {{verdura}} 
           <span v-if=" verdura.cantidad === 0" >- Sin Stock</span>
           <button @click="verdura.cantidad++" >+</button>
           <button @click="verdura.cantidad--">-</button>
          </li>
      </ol>
      <h4>TOTAL: {{sumarVerduras}} </h4>
      <hr>
      
      <h5>practica de title</h5>
      <br>
      <span v-if="seen">Now you see me.</span>
      <span v-bind:title="message" >
          Hover your mouse over me for <br>
          a few seconds to see my dynamically
          bound tittle!
      </span>
      <br><hr>
      <h5>mensaje a poner en reversa:aquí abajo</h5>
      <p> {{message2}} </p>
      <button v-on:click="reverseMessage" >Reverse Message</button>
      <br><br>
      <input  v-model="nuevaFruta" >
      <button @click='agregarVerdura'>enviar</button>
      <p class="bg-danger p-3 text-white">
          Lorem ipsum dolor, sit amet
           consectetur adipisicing elit.
            Beatae optio voluptatem
             iure iusto quibusdam, 
             quaerat mollitia! Dicta facere quas dolore.</p>
          
  </div>
  
  


  </div>

    <script src="./vue.js"></script>
    <script src="./1.js"></script>
</body>
</html>