<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./bootstrap.css">
    <link rel="stylesheet" href="./styles/main.css">
    <script src="./vue.js"></script>
    <script src="./vuex.js"></script>
    <title>vuex</title>
</head>
<body>
    <div id="app4">
<padre></padre>
    </div>
    <script>
Vue.component('padre',{
template: //html
`
<div class="container">
    <table style="width:40%">
        
            <ol >
                
                <li v-for="product of products" >
                    <tr>
                        <th>PRODUCTO</th>
            <th>CANTIDAD</th>
            <th>PEDIDOS</th>
                    </tr>
                    <tr>
                        <td>{{product.name}}</td>
                        <td > {{product.cantidad}} </td>

                        <td>
                            {{$store.state.numero}}  pedidos
                        <span v-if="$store.state.numero===3 ">sin stock</span
                    </td>
                    </tr>
                     
                </li>
            </ol>
       
        
    </table>
<h4>total vendido:{{sumarPedidos}} </h4>
    <h1>padre:numero dinámico: {{$store.state.numero}} </h1>
    <hijo></hijo>
</div>
`,
data(){
    return {
        totalPedidos:0,
        products:[
        {name:"CHURRASCO",cantidad:3},
        {name:"YUCA FRITA",cantidad:3},
        {name:"MAJADITO",cantidad:2}
        ]
    }
},
computed:{
    sumarPedidos(){
        this.totalPedidos=0;
        for(product of this.products){
            this.totalPedidos=this.totalPedidos+store.state.numero;
        }
        return this.totalPedidos;
    }
}
});
Vue.component('hijo',{
    template: //html
    `
    <div>
        hijo
        <h1>pedidos:numero: {{$store.state.numero}} </h1>
        <button @click="$store.commit('aumentar')" >+</button>
        <button @click="$store.commit('disminuir')"> - </button>
    </div>
    `,
    });

    const store=new Vuex.Store({
       state:{
           numero:10
       },
       mutations:{
           aumentar(state){
               state.numero++
           },
           disminuir(state){
               state.numero--
       },
    }
    });

new Vue({
    el:'#app4',
    store:store//es lo mismo escribir solo store
});

    </script>
    
    </html>
</body>
</html>